<div class="container card">
  <div class="card-header">
    Configuración del dispositivo
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Ubicación</th>
            <th scope="col" class="text-center"> Editar</th>
            <th scope="col" class="text-center"> Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boya of Boyas; let iControl = index">
            <td class="text-center"> {{ iControl + 1 }} </td>
            <td class="text-center"> {{ boya.nombre }} </td>
            <td class="text-center"> {{ boya.ubicacion }} </td>
            <td class="text-center">
                <a  class="btn btn-info" routerLink= '/editar-boya/{{ boya.id }}' routerLinkActive="router-link-active">
                  <fa-icon [icon]="penIcon" width="50"></fa-icon>
                </a>

            </td>
            <td class="text-center">
              <a class="btn btn-danger" (click)="borrarRegistro(boya)" role="button">
                <fa-icon [icon]="trashIcon" width="50"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
