<div class="container card">
  <div class="card-header">
    Configuración del dispositivo
  </div>
  <div class="card-body">
    <div class="table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boya of Boyas; let iControl = index">
            <td> {{ boya.id_boya }} </td>
            <td> {{ boya.ubicacion }} </td>
            <td>
              <a class="btn btn-info" routerLink= '/editar-boya/{{ boya.id_boya }}' routerLinkActive="router-link-active"> Editar </a>
              |

              <a class="btn btn-danger" (click)="borrarRegistro(boya.id_boya, iControl)" role="button">Borrar</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
