<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">El sargazo en nuestas playas</h2>
          <p class="lead fw-normal text-muted mb-5">"...el sargazo está llegando a puntos donde nunca había llegado a nuestra isla."</p>
        </div>
      </div>
    </div>

    <div class="row gx-5">
      <div class="col-lg-4 mb-5">
        <div class="card d-flex shadow border-0">
          <img class="card-img-top" src="assets\\GoogleDrive\\1001-1\\2022-12-26_17 24 03.jpg" alt="..." />
          <div class="card-body p-4">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
              <h5 class="card-title mb-3">Placa de Cortecito, Punta Cana</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
