
<div class="card w-50 mx-auto mt-5">
  <div class="card-header text-center">
    Agregar nueva boya
  </div>
  <div class="card-body">

    <form ngNativeValidate [formGroup]="formularioBoya" (ngSubmit)="enviarDatos()">

      <div class="mb-3">
        <label for="" class="form-label">Ubicación:</label>
        <input required type="text"
          class="form-control" formControlName="ubicacion" name="" id="" placeholder="Introduzca la ubicación de la boya">
      </div>

      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>

      <div class="btn-group d-flex justify-content-center" role="group" aria-label="">
        <button type="summit" class="btn btn-success">AGREGAR</button>
        <button type="button" class="btn btn-primary" routerLink="/dispositivos">CANCELAR</button>
      </div>

    </form>
  </div>
</div>

