
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel heading">
              <h3 class="pt-3 font-weight-bold">
                Login
              </h3>
            </div>

          </div>
      </div>
    </div>
  </div>
  <a routerLink="/register">
    ¿No eres miembro? Regístrate
  </a>

</div>
<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
  <form>
    <!-- <div class="text-center mb-3"> -->
      <!-- <p>Sign in with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button> -->
<!--
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>

    <p class="text-center">or:</p> -->

    <!-- Email input -->
    <!-- <div class="form-outline mb-4">
      <input type="email" id="loginName" class="form-control" />
      <label class="form-label" for="loginName">Correo o nombre de usuario</label>
    </div>

    <-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="loginPassword" class="form-control" />
      <label class="form-label" for="loginPassword">Contraseña</label>
    </div>

    <!-- 2 column grid layout -->
    <div class="row mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check mb-3 mb-md-0">
          <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
          <label class="form-check-label" for="loginCheck"> Recúerdame </label>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center">
        <!-- Simple link -->
        <a href="#!">¿Olvidó su contraseña?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Inicia sesión</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>¿No es miembro? <a href="#!">Regístrate</a></p>
    </div>
  </form>
</div> -->
