
    <div id="htmlData">
      <!-- <div class="row float-right">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="index.html">
            <img src="/assets/images/icon.png" width="30" height="30" alt="">
            Sensorial Smart Buoy 2.0
          </a>
        </nav>
      </div> -->

      <!-- <div class="row text-center py-3">
        <div class="col-8">
          <h1>Reporte boya #{{boya_id}}</h1>
        </div>
        <div class="col-4">
          <h1>Desde {{model2}} hasta {{toDate}}</h1>
        </div>
      </div> -->

      <div class="container">
        <table class="table table-borderless align-middle mb-0 bg-white text-center">
          <thead class="bg-light">
            <tr class="table-info">
              <th scope="col" colspan="3" >Identificador</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td  colspan="3"> {{boya_id}} </td>
            </tr>
          </tbody>

          <thead class="bg-light">
            <tr class="table-info">
              <th scope="col" colspan="3">Nombre</th>
            </tr>
          </thead>

          <tbody>
            <tr >
              <td  colspan="3"> {{Boya.nombre}} </td>
            </tr>
          </tbody>

          <thead class="bg-light">
            <tr class="table-info">
              <th scope="col" colspan="3">Ubicación</th>
            </tr>
          </thead>

          <tbody>
            <tr >
              <td colspan="3"> {{Boya.ubicacion}} </td>
            </tr>
          </tbody>

          <thead class="bg-light">
            <tr class="table-info">
              <th scope="col" >Temperatura</th>
              <th scope="col" >Humedad</th>
              <th scope="col" >Fecha de la medición</th>
            </tr>
          </thead>

          <tbody>
            <tr name = "sensor1" *ngFor="let sensor1 of sensorTemp; let iControl = index">
              <td > {{sensor1.temperatura}} </td>
              <td > {{sensor1.humedad}} </td>
              <td > {{sensor1.fecha}} </td>
            </tr>
          </tbody>
        </table>

      <div class="w-100" style="display:inline">


        <ejs-chart id="chart-container1" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title'>
          <e-series-collection>
              <e-series [dataSource]='chartData' type='Line' xName='x' yName='y' name='Temperatura'></e-series>
          </e-series-collection>
        </ejs-chart>

        <ejs-chart id="chart-container2" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis2' [title]='title2'>
          <e-series-collection>
              <e-series [dataSource]='chartData2' type='Line' xName='x' yName='y' name='Humedad'></e-series>
          </e-series-collection>
        </ejs-chart>

      </div>

    </div>


    </div>


  <div class="pt-1">
    <button class="btn col col-lg-4 btn-warning btn-block ml-4" (click)="descargarReporte()">Descargar PDF</button>
  </div>


