<!-- Header-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sensorial Smart Buoy 2.0</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <header class="bg-dark py-5">
        <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a la página Oficial de SSB 2.0</h1>
                <p class="lead fw-normal text-white-50 mb-4">Infórmate en tiempo real sobre la situación de sargazos en las costas de República Dominicana</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                  <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/dispositivos">Observa las boyas</a>
                  <a class="btn btn-outline-light btn-lg px-4" routerLink="/reportes">Aprende más</a>
                </div>
              </div>
            </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="assets\images\boya-start.jpg" alt="..." /></div>
          </div>
        </div>
      </header>
<!-- Features section-->
      <section class="py-5" id="features">
        <div class="container px-5 my-5">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0 "><h2 class="fw-bolder mb-0">¡La "Marea Marrón" invade al Caribe!</h2>
            <p class="h5 m-2 lh-base "> El fenómeno se ha convertido en una de las grandes preocupaciones ambientales de las zonas costeras de la región.</p>
            </div>

            <div class="col-lg-8">
              <div class="row gx-5 row-cols-1 row-cols-md-2">

                <div class="col mb-5 h-100">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3 text-center"><i class="bi bi-book tex"></i></div>
                  <h2 class="h5">La Marea Marrón es...</h2>
                  <p class="mb-0">una forma de microalga que impacta negativamente los ecosistemas costeros y marinos.</p>
                </div>

                <div class="col mb-5 h-100">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3 text-center"><i class="bi bi-droplet"></i></div>
                  <h2 class="h5">Aunque no afecta a las personas...</h2>
                  <p class="mb-0">los efectos de esta marea se están notando en el turismo y en la pesca.</p>
                </div>

                <div class="col mb-5 mb-md-0 h-100">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3 text-center"><i class="bi bi-info-square"></i></div>
                  <h2 class="h5">¿Qué hace SSB 2.0?</h2>
                  <p class="mb-0">El aumento de la temperatura del agua, el calentamiento global y los diferentes contaminantes arrojados a los mares favorecen el crecimiento excesivo del sargazo.</p>
                </div>

                <div class="col h-100">
                  <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3 text-center"><i class="bi bi-lightbulb"></i></div>
                  <h2 class="h5">¿Cómo identificamos el sargazo?</h2>
                  <p class="mb-0">El aumento de la temperatura del agua, el calentamiento global y los diferentes contaminantes arrojados a los mares favorecen el crecimiento excesivo del sargazo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<!-- Testimonial section-->
      <div class="py-5 bg-light">
        <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
              <div class="text-center">
                <div class="fs-4 mb-4 fst-italic">"La cantidad de sargazo siguió aumentando en el Atlántico tropical, el mar Caribe, el Atlántico centro-occidental, el Atlántico centro-oriental y el golfo de México. En total, con las regiones unidas, la cantidad pasó de 18.8 millones de toneladas en mayo pasado a 24.2  millones de toneladas en junio de 2022, estableciendo un nuevo récord histórico."</div>
                <div class="d-flex align-items-center justify-content-center">
                  <img class="rounded-circle me-3" src="assets\images\logo.png" alt="..." width="70" height="40" />
                  <div class="fw-bold">
                    Boletín de perspectivas de sargazo, Junio 2022
                    <span class="fw-bold text-primary mx-1">/</span>
                    Laboratorio de Oceanografía Óptica de la Universidad del Sur de Florida
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Blog preview section-->
      <section class="py-5">
        <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
              <div class="text-center">
                <h2 class="fw-bolder">El sargazo en nuestas playas</h2>
                <p class="lead fw-normal text-muted mb-5">"...el sargazo está llegando a puntos donde nunca había llegado a nuestra isla."</p>
              </div>
            </div>
          </div>

          <div class="row gx-5">

            <div class="col-lg-4 mb-5">
              <div class="card d-flex shadow border-0">
                <img class="card-img-top" src="assets\images\MM2.jpg" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                    <h5 class="card-title mb-3">Placa de Cortecito, Punta Cana</h5>
                </div>

                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-5">
              <div class="card d-flex shadow border-0">
                <img class="card-img-top" src="assets\images\MM1.jpg" alt="..." />
                <div class="card-body p-4">
                  <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                  <h5 class="card-title mb-3">Playa Bahía Príncipe, Punta Cana</h5>
                </div>

                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">

                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 mb-5">
              <div class="card d-flex shadow border-0">
                <img class="card-img-top" src="assets\images\MM3.jpg" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                    <h5 class="card-title mb-3"> Playa de Melía, Punta Cana</h5>
                  </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- Call to action-->
          <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
              <div class="mb-4 mb-xl-0">
                <div class="fs-3 fw-bold text-white">Siempre pendiente de nuestras boyas.</div>
                <div class="text-white-50">Suscribe tu email para recibir alertas sobre los desechos detectados.</div>
              </div>
              <div class="ms-xl-4">
                <div class="input-group mb-2">
                  <input class="form-control" type="text" placeholder="Correo electrónico..." aria-label="Email address..." aria-describedby="button-newsletter" />
                  <button class="btn btn-outline-light" id="button-newsletter" type="button">Regístrate</button>
                </div>
                <div class="small text-white-50">Nos preocupamos por tu privacidad, nunca compartiremos tu información.</div>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>
<!-- Footer-->
  <footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Sensorial Smart Buoy 2022</div></div>
        <div class="col-auto">
          <a class="link-light small" href="#!">Privacidad</a>
          <span class="text-white mx-1">&middot;</span>
          <a class="link-light small" href="#!">Términos</a>
          <span class="text-white mx-1">&middot;</span>
          <a class="link-light small" href="#!">Contacto</a>
        </div>
      </div>
    </div>
  </footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
