<link rel="stylesheet" href="start-page.component.css">
<!-- <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.css"> -->

<div class="content w-100 p-5 justify-context-center" >
  <p class="title text-center">
    Chequea las boyas en las distintas ubicaciones
  </p>
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="navbar-link mt-2" routerLink="/devices" routerLinkActive="active">
          <img src="/assets/images/boya-start.jpg" width="400" height="400" alt="" class="rounded mx-auto d-block border border-warning">
          <p class="text">Las Terrenas, Samaná</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-link mt-2" routerLink="/devices" routerLinkActive="active">
          <img src="/assets/images/boya-start.jpg" width="400" height="400" alt="" class="rounded mx-auto d-block border border-warning">
          <p class="text">Piscina PUCMM</p>
        </a>
      </li>
    </ul>
</div>

<div class="content w-100 marge">
  <img src="/assets/images/icon.png" width="60" height="60" class="img-thumbnail" style="margin-left: 400px;margin-top: -1%;" alt="">
  <h2 class="logo">Sensorial Smart Buoy 2.0</h2>
  <!-- <div class="row">
    <div class="col">

    </div>
    <div class="col">
        <h2 class="logo">Sensorial Smart Buoy 2.0</h2>
    </div> -->
  <!-- </div> -->

  <div class="row justify-context-center w-100">
    <div class="col-md-4 offset-md-4">
      <p class="text-justify">
        Sensorial Smart Buoy 2.0 es una boya que detecta e identifica residuos que colisionen con esta
        para posteriormente clasificarlos con las fotos tomadas al momento del choque, cumpliendo este
        objetivo utilizando acelerómetros y dos cámaras de 170 grados de visión cada una.
      </p>
    </div>
  </div>
</div>

<div class="content w-100">
  Galeria
</div>

<div class="row content w-100">
  <div class="col-4 text-center">
      Cantactanos
  </div>
  <div class="col-4 text-center">
    Cantactanos
  </div>
  <div class="col-4 text-center">
    Cantactanos
  </div>
</div>

