<link rel="stylesheet" href="start-page.component.css">

<div class="content w-100" >
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a class="navbar-link mt-2" routerLink="/devices" routerLinkActive="active">
          <img src="/assets/images/boya-start.jpg" width="400" height="400" alt="" class="rounded mx-auto d-block border border-warning">
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-link mt-2" routerLink="/devices" routerLinkActive="active">
          <img src="/assets/images/boya-start.jpg" width="400" height="400" alt="" class="rounded mx-auto d-block border border-warning">
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-link mt-2" routerLink="/devices" routerLinkActive="active">
          <img src="/assets/images/boya-start.jpg" width="400" height="400" alt="" class="rounded mx-auto d-block border border-warning">
        </a>
      </li>
    </ul>
</div>

<div class="content w-100">


</div>

