
<div class="card w-50 mx-auto mt-5">
  <div class="card-header">
    Editar boya
  </div>
  <div class="card-body">
    <form class="form" [formGroup]="formularioBoya">

      <div class="mb-3">
        <label for="" class="form-label">ID:</label>
        <input formControlName="id" type="text" readonly
          class="form-control" name="" id="" aria-describedby="" placeholder="">
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Nombre:</label>
        <input formControlName="nombre" type="text"
          class="form-control" name="" id="" aria-describedby="" placeholder="">
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Ubicación:</label>
        <input formControlName="ubicacion" type="text"
          class="form-control" name="" id="" aria-describedby="" placeholder="">
      </div>

      <div class="btn-group d-flex justify-content-center" role="group" aria-label="">
        <button type="submit" (click)="enviarDatos()" class="btn btn-warning">MODIFICAR</button>
        <button type="button" class="btn btn-primary" routerLink="/configuracion">CANCELAR</button>
      </div>


    </form>
  </div>
</div>
